@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/ProximaNova-Light-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/ProximaNova-Reg-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/ProximaNova-Sbold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: hongkong;
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/hongkong.woff2") format("woff2");
}

@font-face {
  font-family: hongkong;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/hongkong-medium.woff2") format("woff2");
}

@font-face {
  font-family: hongkong;
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/hongkong-bold.woff2") format("woff2");
}

:root {
  --color-gray-000: #fff;
  --color-gray-100: #f8f9fa;
  --color-gray-200: #f3f4f6;
  --color-gray-300: #e4e2ea;
  --color-gray-400: #d1ceda;
  --color-gray-425: #bcb8c7;
  --color-gray-450: #a6a1b1;
  --color-gray-500: #8d8798;
  --color-gray-600: #5d7389;
  --color-gray-700: #5f5870;
  --color-gray-750: #544e63;
  --color-gray-775: #3c3847;
  --color-gray-800: #363240;
  --color-gray-850: #292632;
  --color-gray-900: #18161f;
  --color-gray-subnav: #201e29;
  --color-gray-subnav-active: #18161f;
  --color-blue-000: #e8fcff;
  --color-blue-100: #d1f9ff;
  --color-blue-200: #baf6ff;
  --color-blue-300: #9fdaf5;
  --color-blue-400: #85bfeb;
  --color-blue-500: #6aa3e0;
  --color-blue-600: #5088d6;
  --color-blue-700: #356ccc;
  --color-blue-800: #2253b3;
  --color-blue-900: #0f3999;
  --color-green-000: #ebfff8;
  --color-green-100: #c4ffed;
  --color-green-200: #74fbd0;
  --color-green-300: #52ebba;
  --color-green-400: #4ad4a8;
  --color-green-500: #37b88f;
  --color-green-600: #2e9977;
  --color-green-700: #24785d;
  --color-green-800: #1d614b;
  --color-green-900: #154737;
  --color-red-000: #f3eae7;
  --color-red-100: #fed9d5;
  --color-red-200: #fec5be;
  --color-red-300: #ff9387;
  --color-red-400: #f87263;
  --color-red-500: #f24f3d;
  --color-red-600: #db321f;
  --color-red-700: #c2210f;
  --color-red-800: #961305;
  --color-red-900: #731409;
  --color-orange-000: #fef7f3;
  --color-orange-100: #feede4;
  --color-orange-200: #ffdccc;
  --color-orange-300: #ffbda8;
  --color-orange-400: #f99170;
  --color-orange-500: #f76d43;
  --color-orange-600: #f44e27;
  --color-orange-700: #cc4121;
  --color-orange-800: #a6361a;
  --color-orange-900: #7a2714;
  --color-yellow-000: #fbffe5;
  --color-yellow-100: #f3febb;
  --color-yellow-200: #ecfd91;
  --color-yellow-300: #dce967;
  --color-yellow-400: #c6cc4e;
  --color-yellow-500: #adab20;
  --color-yellow-600: #9e9828;
  --color-yellow-700: #8a8220;
  --color-yellow-800: #726916;
  --color-yellow-900: #5c5002;
  --color-purple-000: #efe9fc;
  --color-purple-100: #e2d9fe;
  --color-purple-200: #cdbff7;
  --color-purple-300: #bdaaf5;
  --color-purple-400: #9e80f0;
  --color-purple-500: #7e58ed;
  --color-purple-550: #5f36eb;
  --color-purple-600: #4b2abb;
  --color-purple-650: #391f8c;
  --color-purple-700: #25145e;
  --color-purple-800: #1b0e46;
  --color-purple-900: #090317;
  --color-purple-saturated: #6923f4;
  --color-teal-000: #f1ffff;
  --color-teal-100: #cffffd;
  --color-teal-200: #aefefb;
  --color-teal-300: #6bf8f3;
  --color-teal-400: #35ede7;
  --color-teal-500: #0fddd6;
  --color-teal-600: #09c2bc;
  --color-teal-700: #059f99;
  --color-teal-800: #027471;
  --color-teal-900: #004745;
  --color-pink-000: #fff0fe;
  --color-pink-100: #ffd9fb;
  --color-pink-200: #ffb8f9;
  --color-pink-300: #ff8df4;
  --color-pink-400: #f26ddc;
  --color-pink-500: #e550c8;
  --color-pink-600: #c39;
  --color-pink-700: #bf1d7b;
  --color-pink-800: #990f54;
  --color-pink-900: #730b3f;
  --gradient-blue: linear-gradient(254.28deg, #6aa3e0, #356ccc);
  --gradient-gray: linear-gradient(156.79deg, #18161f 26.62%, #5d7389 75.66%);
  --gradient-fire: linear-gradient(45.76deg, #f24f3d, #f99170);
  --gradient-purple: linear-gradient(253.19deg, #9e80f0, #090317);
  --gradient-red: linear-gradient(7.85deg, #961305, #ff9387);
  --gradient-teal: linear-gradient(15.19deg, #059f99, #35ede7 102.91%);
  --gradient-water: linear-gradient(236.75deg, #0fddd6 -69.4%, #85bfeb 84.32%);
  --color-black: #000;
  --color-white: #fff;
  --bg-white: #fff;
  --bg-whiteElevated: #fff;
  --bg-l1: #fff;
  --bg-highlight: #6bf8f3;
  --bg-highlight-lowContrast: #cffffd;
  --bg-input-disabled: #f8f9fa;
  --bg-input-dark: #f3f4f6;
  --bg-base: #f8f9fa;
  --bg-base-lighten: #f8f9fa;
  --bg-select-hover: #f3f4f6;
  --bg-textButton: #f3f4f6;
  --bg-d1: #f3f4f6;
  --bg-d2: #e4e2ea;
  --bg-d3: #d1ceda;
  --bg-blue-base: #85bfeb;
  --bg-blue-l1: #9fdaf5;
  --bg-blue-l2: #baf6ff;
  --bg-blue-l3: #d1f9ff;
  --bg-blue-l4: #e8fcff;
  --bg-green-base: #2e9977;
  --bg-green-l1: #c4ffed;
  --bg-green-l2: #ebfff8;
  --bg-red-d1: #961305;
  --bg-red-base: #f24f3d;
  --bg-red-l1: #fed9d5;
  --bg-red-l2: #f3eae7;
  --bg-orange-base: #f76d43;
  --bg-orange-l1: #f99170;
  --bg-orange-l2: #ffbda8;
  --bg-orange-l3: #ffdccc;
  --bg-orange-l4: #feede4;
  --bg-yellow-base: #adab20;
  --bg-modal-footer: #f8f9fa;
  --border-l1: #f3f4f6;
  --border-base: #d1ceda;
  --border-base-lighten: #d1ceda;
  --border-d1: #8d8798;
  --border-d1-lighten: #8d8798;
  --border-d2: #5f5870;
  --border-blue-base: #6aa3e0;
  --border-blue-l1: #baf6ff;
  --border-green-base: #2e9977;
  --border-red-base: #f24f3d;
  --border-orange-base: #f76d43;
  --border-orange-l1: #ffdccc;
  --border-teal-base: #0fddd6;
  --text-base: #18161f;
  --text-l1: #5f5870;
  --text-l2: #5d7389;
  --text-l3: #8d8798;
  --text-blue-d1: #5088d6;
  --text-blue-base: #6aa3e0;
  --text-blue-l1: #baf6ff;
  --text-green-d1: #24785d;
  --text-green-base: #2e9977;
  --text-red-d1: #c2210f;
  --text-red-base: #f24f3d;
  --text-orange-d1: #f44e27;
  --text-orange-base: #f76d43;
  --text-highlight: #6aa3e0;
  --link: #5088d6;
  --switch: #d1ceda;
  --switchOn: #37b88f;
  --tag: #f3f4f6;
  --tagOutline: #fff;
}

body,
html {
  height: 100%;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
body {
  overflow-y: hidden;
}

.site.is-calendar .site-content {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow-y: auto;
  flex: 1;
  position: relative;
  z-index: 0;
}

/**row**/
.row {
  overflow: hidden;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.row--a {
  background-color: var(--bg-white);
}

.row--a,
.row--a-dk {
  box-shadow: 0 1px 2px rgba(24, 22, 31, 0.25);
}

.row--a-dk {
  background-color: var(--bg-whiteElevated);
}

.row--b {
  background-color: #18161f;
}

.row--c {
  background-color: var(--bg-d2);
}

.row--bg {
  background-color: var(--bg-base);
}

.row--bob {
  border-bottom: 1px solid var(--border-base);
}

.row--o {
  overflow: visible;
}

.row--xs {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.row--s {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.row--m {
  padding-left: 1rem;
  padding-right: 1rem;
}

.row--ml {
  padding-left: 2rem;
  padding-right: 2rem;
}

.row--l {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.row--xl {
  padding-left: 5rem;
  padding-right: 5rem;
}

.row--cover {
  height: 100vh;
}

@media screen and (max-width: 34.375em) {
  .row--collapse--s {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .row--collapse--f {
    padding-left: 0;
    padding-right: 0;
  }
}

.split {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.split--flag {
  align-items: center;
}

.split--end {
  align-items: flex-end;
}

.split--base {
  align-items: baseline;
}

.split--r {
  justify-content: flex-end;
}

.split--c {
  justify-content: center;
}

.split--flip {
  flex-direction: row-reverse;
}

.split--nowrap {
  flex-wrap: nowrap;
}

.split--even > * {
  width: 50%;
}

.split--reverse > :first-child {
  flex-shrink: 0;
}

.split--reverse > :last-child {
  flex-grow: 1;
}

.split--reverse > :only-child {
  flex-shrink: 1;
}

.split > * {
  min-width: 0;
}

.split > :first-child {
  flex-grow: 1;
}

.split > :last-child {
  flex-shrink: 0;
}

.split > :only-child {
  flex-shrink: 1;
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
  box-sizing: content-box;
  overflow: visible;
}

.bubble {
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: center;
  margin: 1.25rem 1rem 0;
  /* opacity: 0; */
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.bubble.is-feed {
  height: 100%;
  justify-content: space-evenly;
  margin: 0;
  opacity: 1;
  width: 100%;
}

.bubble.is-feed .bubble-item {
  background-color: var(--bg-white);
  border: 0;
  flex: 1 0;
}

.bubble.is-feed .bubble-item svg {
  color: var(--text-base);
}

.bubble.is-feed .bubble-item.is-disabled:hover,
.bubble.is-feed .bubble-item:disabled:hover {
  background-color: var(--bg-white);
}

.bubble--program .bubble-item {
  flex: 1 0 50%;
}

.bubble-item.is-disabled,
.bubble-item:disabled {
  cursor: default;
}

.bubble-item.is-disabled svg,
.bubble-item:disabled svg {
  cursor: default;
  opacity: 0.5;
}

.bubble-item.is-disabled svg:hover,
.bubble-item:disabled svg:hover {
  color: var(--text-l2);
}

.bubble-item.is-disabled:hover,
.bubble-item:disabled:hover {
  background-color: var(--bg-base);
}

.bubble-item.is-disabled:hover svg,
.bubble-item:disabled:hover svg {
  color: var(--text-l2);
}

.bubble-item.is-disabled .bubble-text,
.bubble-item:disabled .bubble-text {
  opacity: 0.5;
}
.bubble-title {
  font-size: 0.875rem;
}

.bubble-item {
  align-items: center;
  background-color: var(--bg-base);
  cursor: pointer;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.bubble-item:hover {
  background-color: var(--bg-d2);
}

.bubble-item:hover svg {
  color: var(--text-l1);
}

.bubble-item svg {
  color: var(--text-l2);
}

.bucket {
  display: flex;
}

.bucket--base {
  align-items: baseline;
}

.bucket--start {
  align-items: flex-start;
}

.bucket--end {
  align-items: flex-end;
}

.bucket--flag {
  align-items: center;
}

.bucket--shrink .bucket-content {
  flex-grow: 0;
  flex-shrink: 0;
}

.bucket--xs > .bucket-media,
.bucket--xxs > .bucket-media {
  margin-right: 0.25rem;
}

.bucket--sm > .bucket-media {
  margin-right: 0.5rem;
}

.bucket--s > .bucket-media {
  margin-right: 0.75rem;
}

.bucket--m > .bucket-media {
  margin-right: 1rem;
}

.bucket--mm > .bucket-media {
  margin-right: 1.5rem;
}

.bucket--ml > .bucket-media {
  margin-right: 2rem;
}

.bucket--l > .bucket-media {
  margin-right: 2.5rem;
}

.bucket--xl > .bucket-media {
  margin-right: 5rem;
}

.bucket--xs.bucket--reverse > .bucket-media,
.bucket--xxs.bucket--reverse > .bucket-media {
  margin-left: 0.25rem;
}

.bucket--sm.bucket--reverse > .bucket-media {
  margin-left: 0.5rem;
}

.bucket--s.bucket--reverse > .bucket-media {
  margin-left: 0.75rem;
}

.bucket--m.bucket--reverse > .bucket-media {
  margin-left: 1rem;
}

.bucket--mm.bucket--reverse > .bucket-media {
  margin-left: 1.5rem;
}

.bucket--ml.bucket--reverse > .bucket-media {
  margin-left: 2rem;
}

.bucket--l.bucket--reverse > .bucket-media {
  margin-left: 2.5rem;
}

.bucket--xl.bucket--reverse > .bucket-media {
  margin-left: 5rem;
}

.bucket--f.bucket--reverse > .bucket-media {
  margin-left: 0;
}

.bucket--flip {
  justify-content: flex-end;
}

.bucket--flip .bucket-media {
  order: 2;
}

.bucket--flip .bucket-content {
  order: 1;
}

.bucket-content {
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
}

.bucket-media {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1.25rem;
}

.bucket-media > img {
  display: block;
}

.bucket {
  display: flex;
}

.bucket--base {
  align-items: baseline;
}

.bucket--start {
  align-items: flex-start;
}

.bucket--end {
  align-items: flex-end;
}

.bucket--flag {
  align-items: center;
}

.bucket--shrink .bucket-content {
  flex-grow: 0;
  flex-shrink: 0;
}

.bucket--xs > .bucket-media,
.bucket--xxs > .bucket-media {
  margin-right: 0.25rem;
}

.bucket--sm > .bucket-media {
  margin-right: 0.5rem;
}

.bucket--s > .bucket-media {
  margin-right: 0.75rem;
}

.bucket--m > .bucket-media {
  margin-right: 1rem;
}

.bucket--mm > .bucket-media {
  margin-right: 1.5rem;
}

.bucket--ml > .bucket-media {
  margin-right: 2rem;
}

.bucket--l > .bucket-media {
  margin-right: 2.5rem;
}

.bucket--xl > .bucket-media {
  margin-right: 5rem;
}

.bucket--f > .bucket-media {
  margin-right: 0;
}

.bucket--xs.bucket--reverse > .bucket-media,
.bucket--xxs.bucket--reverse > .bucket-media {
  margin-left: 0.25rem;
}

.bucket--sm.bucket--reverse > .bucket-media {
  margin-left: 0.5rem;
}

.bucket--s.bucket--reverse > .bucket-media {
  margin-left: 0.75rem;
}

.bucket--m.bucket--reverse > .bucket-media {
  margin-left: 1rem;
}

.bucket--mm.bucket--reverse > .bucket-media {
  margin-left: 1.5rem;
}

.bucket--ml.bucket--reverse > .bucket-media {
  margin-left: 2rem;
}

.bucket--l.bucket--reverse > .bucket-media {
  margin-left: 2.5rem;
}

.bucket--xl.bucket--reverse > .bucket-media {
  margin-left: 5rem;
}

.bucket--f.bucket--reverse > .bucket-media {
  margin-left: 0;
}

.bucket--flip {
  justify-content: flex-end;
}

.bucket--flip .bucket-media {
  order: 2;
}

.bucket--flip .bucket-content {
  order: 1;
}

.bucket-content {
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
}

.bucket-media {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1.25rem;
}

.bucket-media > img {
  display: block;
}

.tc-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tc-list--inline {
  align-items: baseline;
  display: flex;
}

.tc-list--inline > .tc-list-item {
  flex-grow: 0;
  margin-bottom: 0;
  margin-right: 1.25rem;
}

.tc-list--inline > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--styled {
  padding-left: 1.25rem;
}

.tc-list--styled > .tc-list-item {
  display: list-item;
  list-style-type: disc;
}

.tc-list--styled--numbered > .tc-list-item {
  list-style-type: decimal;
}

.tc-list--m-xxs > .tc-list-item {
  margin-bottom: 0.25rem;
}

.tc-list--m-xxs > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--m-xs > .tc-list-item {
  margin-bottom: 0.25rem;
}

.tc-list--m-xs > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--m-sm > .tc-list-item {
  margin-bottom: 0.5rem;
}

.tc-list--m-sm > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--m-s > .tc-list-item {
  margin-bottom: 0.75rem;
}

.tc-list--m-s > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--m-m > .tc-list-item {
  margin-bottom: 1rem;
}

.tc-list--m-m > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--m-mm > .tc-list-item {
  margin-bottom: 1.5rem;
}

.tc-list--m-mm > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--m-ml > .tc-list-item {
  margin-bottom: 2rem;
}

.tc-list--m-ml > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--m-l > .tc-list-item {
  margin-bottom: 2.5rem;
}

.tc-list--m-l > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--m-xl > .tc-list-item {
  margin-bottom: 5rem;
}

.tc-list--m-f > .tc-list-item,
.tc-list--m-f > .tc-list-item:last-child,
.tc-list--m-xl > .tc-list-item:last-child {
  margin-bottom: 0;
}

.tc-list--inline.tc-list--m-xxs > .tc-list-item {
  margin-bottom: 0;
  margin-right: 0.25rem;
}

.tc-list--inline.tc-list--m-xxs > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-xxs.tc-list--flip > .tc-list-item:last-child {
  margin-right: 0.25rem;
}

.tc-list--inline.tc-list--m-xxs.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-xs > .tc-list-item {
  margin-bottom: 0;
  margin-right: 0.25rem;
}

.tc-list--inline.tc-list--m-xs > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-xs.tc-list--flip > .tc-list-item:last-child {
  margin-right: 0.25rem;
}

.tc-list--inline.tc-list--m-xs.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-sm > .tc-list-item {
  margin-bottom: 0;
  margin-right: 0.5rem;
}

.tc-list--inline.tc-list--m-sm > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-sm.tc-list--flip > .tc-list-item:last-child {
  margin-right: 0.5rem;
}

.tc-list--inline.tc-list--m-sm.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-s > .tc-list-item {
  margin-bottom: 0;
  margin-right: 0.75rem;
}

.tc-list--inline.tc-list--m-s > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-s.tc-list--flip > .tc-list-item:last-child {
  margin-right: 0.75rem;
}

.tc-list--inline.tc-list--m-s.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-m > .tc-list-item {
  margin-bottom: 0;
  margin-right: 1rem;
}

.tc-list--inline.tc-list--m-m > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-m.tc-list--flip > .tc-list-item:last-child {
  margin-right: 1rem;
}

.tc-list--inline.tc-list--m-m.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-mm > .tc-list-item {
  margin-bottom: 0;
  margin-right: 1.5rem;
}

.tc-list--inline.tc-list--m-mm > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-mm.tc-list--flip > .tc-list-item:last-child {
  margin-right: 1.5rem;
}

.tc-list--inline.tc-list--m-mm.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-ml > .tc-list-item {
  margin-bottom: 0;
  margin-right: 2rem;
}

.tc-list--inline.tc-list--m-ml > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-ml.tc-list--flip > .tc-list-item:last-child {
  margin-right: 2rem;
}

.tc-list--inline.tc-list--m-ml.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-l > .tc-list-item {
  margin-bottom: 0;
  margin-right: 2.5rem;
}

.tc-list--inline.tc-list--m-l > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-l.tc-list--flip > .tc-list-item:last-child {
  margin-right: 2.5rem;
}

.tc-list--inline.tc-list--m-l.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-xl > .tc-list-item {
  margin-bottom: 0;
  margin-right: 5rem;
}

.tc-list--inline.tc-list--m-xl > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-xl.tc-list--flip > .tc-list-item:last-child {
  margin-right: 5rem;
}

.tc-list--inline.tc-list--m-xl.tc-list--flip > .tc-list-item:first-child {
  margin-right: 0;
}

.tc-list--inline.tc-list--m-f > .tc-list-item {
  margin-bottom: 0;
  margin-right: 0;
}

.tc-list--inline.tc-list--m-f.tc-list--flip > .tc-list-item:first-child,
.tc-list--inline.tc-list--m-f.tc-list--flip > .tc-list-item:last-child,
.tc-list--inline.tc-list--m-f > .tc-list-item:last-child {
  margin-right: 0;
}

.tc-list--f > .tc-list-item {
  margin-bottom: 0;
  margin-right: 0;
}

.tc-list--c {
  justify-content: center;
}

.tc-list--flag {
  align-items: center;
}

.tc-list--start {
  align-items: flex-start;
}

.tc-list--end {
  align-items: flex-end;
}

.tc-list--r {
  justify-content: flex-end;
}

.tc-list--flip {
  flex-direction: row-reverse;
}

.tc-list--inline > .tc-list-item.tc-list-item--xs,
.tc-list--inline > .tc-list-item.tc-list-item--xxs {
  margin-right: 0.25rem;
}

.tc-list--inline > .tc-list-item.tc-list-item--sm {
  margin-right: 0.5rem;
}

.tc-list--inline > .tc-list-item.tc-list-item--s {
  margin-right: 0.75rem;
}

.tc-list--inline > .tc-list-item.tc-list-item--m {
  margin-right: 1rem;
}

.tc-list--inline > .tc-list-item.tc-list-item--mm {
  margin-right: 1.5rem;
}

.tc-list--inline > .tc-list-item.tc-list-item--ml {
  margin-right: 2rem;
}

.tc-list--inline > .tc-list-item.tc-list-item--l {
  margin-right: 2.5rem;
}

.tc-list--inline > .tc-list-item.tc-list-item--xl {
  margin-right: 5rem;
}

.tc-list--inline > .tc-list-item.tc-list-item--f {
  margin-right: 0;
}

.tc-list-item--separator:after {
  color: var(--text-l2);
  content: "|";
  margin: 0 0.75rem;
}

.tc-list--nowrap {
  flex-wrap: nowrap;
}

.tc-list--wrap {
  flex-wrap: wrap;
}

.tc-list-item.is-disabled {
  opacity: 0.5;
}

.tc-list-item {
  display: block;
  margin-bottom: 1.25rem;
}

.tc-list-item:last-child {
  margin-bottom: 0;
}
.law,
.law:focus,
.law:hover {
  outline: none;
  text-decoration: none;
}

.law--card:focus .link,
.law--card:hover .link {
  text-decoration: underline;
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
  box-sizing: content-box;
  overflow: visible;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline--fa.fa-2xs {
  vertical-align: 0.1em;
}

.svg-inline--fa.fa-xs {
  vertical-align: 0;
}

.svg-inline--fa.fa-sm {
  vertical-align: -0.0714285705em;
}

.svg-inline--fa.fa-lg {
  vertical-align: -0.2em;
}

.svg-inline--fa.fa-xl {
  vertical-align: -0.25em;
}

.trainerFrame {
  flex-grow: 1;
  position: relative;
}

.trainerFrame-wrap {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.trainerFrame-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  order: 2;
  overflow: hidden;
}
.has-calendar {
  min-width: 0;
  position: relative;
}
.trainerFrame-calendarWrap.is-small {
  font-size: 0.875rem;
}

.trainerFrame-calendarWrap {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
}

.addInput--title,
.addInput--title[type="text"] {
  font-size: 1rem;
  font-weight: 600;
}

.addInput,
.addInput[type="text"],
textarea.addInput {
  background-color: transparent;
  border-radius: 4px;
  border-width: 0;
  box-shadow: none !important;
  display: block;
  min-height: 0;
  outline: none;
  padding: 0;
  width: 100%;
}
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--bg-white);
  border: 1px solid var(--border-base-lighten);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-base);
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: normal;
  min-width: 3.125rem;
  transition: all 0.1s ease-in-out;
  width: 100%;
}
button,
input,
optgroup,
select,
textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

textarea.addInput.addInput--textarea {
  box-sizing: content-box;
  display: block;
  height: auto;
  min-height: 24px;
  resize: none;
}
.addInput,
.addInput[type="text"],
textarea.addInput {
  background-color: transparent;
  border-radius: 4px;
  border-width: 0;
  box-shadow: none !important;
  display: block;
  min-height: 0;
  outline: none;
  padding: 0;
  width: 100%;
}
.addInput--base,
.addInput--base[type="text"] {
  font-size: 0.75rem;
  line-height: 1.5;
}
textarea {
  height: auto;
  max-width: 100%;
  min-height: 3.125rem;
}
button,
input,
optgroup,
select,
textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
